<h3>Damage Rolls</h3>
<div class="input-group">
    <div class="input-group-text">Critical? </div>
    <InputCheckbox @bind-Value="IsCritical"></InputCheckbox>
</div>
<div class="row">
    @for (var index = 85; index <= 100; index++)
    {
        <div class="col">@Attack(index)</div>
    }
</div>

@code {
    [Parameter]
    public required bool IsCritical { get; set; }
    [Parameter]
    public required Func<int, double> Attack { get; set; }
}
