@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://github.com/cstewart2010/pokemon-damage-calc" target="_blank">Send requests for missing functionality here</a>
        </div>

        <article class="container">
            @Body
        </article>
    </main>
</div>
