@using TheReplacement.PokemonDamageCalc.Extensions;
<div class="input-group">
    <span class="input-group-text">Offensive Pokemon Species</span>
    <input class="form-control" list="offensiveDex" placeholder="Type to search..." @bind-value="OffensiveName" @oninput="OnOffensiveNameChanged" />
    <datalist id="offensiveDex">
        @foreach (var pokemon in PokedexCollection)
        {
            <option value="@pokemon">@pokemon</option>
        }
    </datalist>
    <span class="input-group-text">Defensive Pokemon Species</span>
    <input class="form-control" list="defensiveDex" placeholder="Type to search..." @bind-value="DefensiveName" @oninput="OnDefensiveNameChanged" />
    <datalist id="defensiveDex">
        @foreach (var pokemon in PokedexCollection)
        {
            <option value="@pokemon">@pokemon</option>
        }
    </datalist>
</div>

@code {
    [Parameter, EditorRequired]
    public string OffensiveName { get; set; }
    [Parameter]
    public EventCallback<string> OffensiveNameChanged { get; set; }
    [Parameter, EditorRequired]
    public string DefensiveName { get; set; }
    [Parameter]
    public EventCallback<string> DefensiveNameChanged { get; set; }
    [Parameter, EditorRequired]
    public ICollection<string> PokedexCollection { get; set; }

    private async Task OnOffensiveNameChanged(ChangeEventArgs e)
    {
        var name = e?.Value?.ToString()?.ToCapitalized();
        if (name != null && PokedexCollection.Contains(name))
        {
            await OffensiveNameChanged.InvokeAsync(name);
        }
    }

    private async Task OnDefensiveNameChanged(ChangeEventArgs e)
    {
        var name = e?.Value?.ToString()?.ToCapitalized();
        if (name != null && PokedexCollection.Contains(name))
        {
            await DefensiveNameChanged.InvokeAsync(name);
        }
    }
}
