@using TheReplacement.PokemonDamageCalc.Client.Extensions;
<div class="input-group">
    <span class="input-group-text">Move</span>
    <input class="form-control" list="moveDex" placeholder="Type to search..." @bind-value="MoveName" @oninput="OnMoveNameChanged" />
    <datalist id="moveDex">
        @foreach (var move in MovedexCollection)
        {
            <option value="@MovedexCollection">@move</option>
        }
    </datalist>
</div>

@code {
    [Parameter]
    public required string MoveName { get; set; }
    [Parameter]
    public EventCallback<string> MoveNameChanged { get; set; }
    [Parameter]
    public required ICollection<string> MovedexCollection { get; set; }

    private async Task OnMoveNameChanged(ChangeEventArgs e)
    {
        var name = e?.Value?.ToString()?.ToCapitalized();
        if (name != null && MovedexCollection.Contains(name))
        {
            await MoveNameChanged.InvokeAsync(name);
        }
    }
}
